# .editorconfig -- Config file for EditorConfig. http://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf

[/{.profile,.bashrc,.bash_aliases,.bashrc.d/*.sh,.bash_aliases.d/*}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,cpp,h,hpp,py}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
